.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  grid-row-gap: 50px;
}

.col-sm {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width: 30%;
  flex-grow: 4;
}


h1 {
  font-family: open-sans;
}

h2 {
  font-family: open-sans;
}

h3 {
  font-family: open-sans;
}

h4 {
  font-family: open-sans;
}

h5 {
  font-family: open-sans;
}

h6 {
  font-family: open-sans;
}

p {
  font-family: open-sans;
}

a {
  color: white;
  font-family: open-sans;
}

li {
  font-family: open-sans;
  font-size: 25px;
}
button {
  border-radius: 8px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
}
